

<div class='container gray'>
	<div class='logo'><%= image_tag("logo2.png") %></div>
	<p>We offer free mentor scheduling system to our members</p>
	<p>Our teachers offer 30 minute sessions in different topic</p>
	<p>Students can login, choose a open spot and register for that spot</p>
	<p>Students have a calander that shows all the events and in their</p>
	<p>profile page they can see all the sessions they have registered for</p>

</div>

<section class="bg-1 text-center">

</section>

<br>
<br>
<br>
<br>

<div class='container gray'>
	<p>If you have not created an account yet, it's time to do it now</p>
	<p>With creating a new account you get access to all of our mentors and </p>
	<p>you will be able to book mentor session with them</p>

</div>

<br>
<br>
<br>
<br>

<section class="bg-2 text-center">

</section>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>