<div class='container'>
<h3>Welcome to Menmen</h3>
<%= image_tag("MenMen.png") %>
<p>We offer free mentor sessions to Menmen students</p>
<p>If you have not created an account yet, it's time to do it now</p>
<p>With creating a new account you get access to all of our mentors and </p>
<p>you will be able to book mentor session with them</p>

<br>
<p>If you already have created an account, login</p>
</div>

<br>
<br>
<br>
<br>

