
<div>
<br>
<strong>Title: </strong><%= @appointment.topic%> <br>
<strong>Mentor:</strong> <%= @appointment.mentor.name %>

	

</div>

<div>
	<strong>Feedback:</strong>
	<% @appointment.feedbacks.each do |feedback| %>
  	<ul>
    	<li><p><%= feedback.body %></p></li>
  	</ul>
	<% end %>

</div>
	
<%= render 'feedback/form' %>
