<!DOCTYPE html>
<html>
<head>
  <title>MenMen</title>
  <%= stylesheet_link_tag    'creative', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'creative', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar-default">
		<nav class="nav">
	<ul>
		<li class="navbar-brand">home</li>
		<li>login</li>
		<li>logout</li>
	</ul>
</nav>

	</div>
	




<%= yield %>

</body>
</html>
